.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans";
  color: #ffffff;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 20px;
}

.activity {
  margin: 1rem;
  margin-top: 3rem;
  max-width: 75%;
  width: 40rem;
}

.activity-text {
  color: #ffbd69;
  font-size: medium;
  margin-bottom: 0.5rem;
  text-align: left;
}

.image {
  margin: 1rem;
  max-width: 11rem;
  max-height: 11rem;
}
