.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans";
  color: #ffffff;
  text-align: center;
}

.app__buttons {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 20px;
}

.app__activity {
  position: absolute;
  bottom: 1rem;
  max-width: 75%;
  width: 40rem;
}

.app__activity-text {
  color: #ffbd69;
  font-size: small;
  margin-bottom: 0.5rem;
  text-align: left; 
}