---
import { DemoStore } from "./";
---

<div
  class="flex min-h-screen py-8 flex-col bg-gradient-to-br from-yellow-50 to-pink-50 dark:from-neutral-900 dark:to-neutral-900"
  id="ecommerce"
>
  <DemoStore client:visible />
</div>
