---
import Blog from "@/components/blog/Blog.astro";
import Dashboard from "@/components/dashboard/Dashboard.astro";
import Ecommerce from "@/components/ecommerce/Ecommerce.astro";
import Intro from "@/components/intro/Intro.astro";
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio - jlsnow301">
  <Intro />
  <div class="hidden md:inline">
    <Separator />
    <Dashboard />
    <Separator />
    <Ecommerce />
    <Separator />
    <Blog />
  </div>
</Layout>
