---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Stars from '~/components/widgets/Stars.astro';
import Skills from '~/components/widgets/Skills.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Get resume', href: '/jeremiah_snow_resume.pdf', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#skills' }}
    image={{ src: '/fantasy-planet.jpg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">Hey there.</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I'm Jeremiah, a software engineer in Seattle, Washington. I'm currently working as a full stack engineer at <a
          class="dark:text-accent"
          href="https://paretocyber.com">Pareto Cyber.</a
        > I am also a maintainer of an open source game, <a
          class="dark:text-accent"
          href="https://www.github.com/tgstation/tgstation">TG Station.</a
        >
        <Stars />
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Skills
    highlight="Skills"
    title="My tech stack"
    subtitle="I try to stay recent with all developments in tech, but I have a few favorites. I learn through experimentation, and trying new tech keeps me engaged."
    items={[
      { icon: 'logos:typescript-icon', title: 'Typescript' },
      { icon: 'logos:javascript', title: 'Javascript' },
      { icon: 'logos:python', title: 'Python' },
      { icon: 'logos:go', title: 'Go' },
      { icon: 'vscode-icons:file-type-zig', title: 'Zig' },
      { icon: 'logos:java', title: 'Java' },
      { icon: 'logos:html-5', title: 'HTML' },
      { icon: 'logos:css-3', title: 'CSS' },
      { icon: 'logos:tailwindcss-icon', title: 'Tailwind' },
      { icon: 'logos:sass', title: 'Sass' },
      { icon: 'logos:react', title: 'React' },
      { icon: 'logos:inferno', title: 'Inferno' },
      { icon: 'logos:solidjs-icon', title: 'Solid' },
      { icon: 'logos:nextjs-icon', title: 'Next.js' },
      { icon: 'logos:astro', title: 'Astro' },
      { icon: 'logos:expo', title: 'Expo' },
      { icon: 'logos:vue', title: 'Vue' },
      { icon: 'logos:deno', title: 'Deno' },
      { icon: 'logos:nodejs', title: 'Node' },
      { icon: 'logos:aws', title: 'AWS' },
      { icon: 'vscode-icons:file-type-firebase', title: 'Firebase' },
      { icon: 'logos:microsoft-azure', title: 'Azure' },
      { icon: 'logos:github-icon', title: 'GitHub' },
      { icon: 'logos:atlassian', title: 'Atlassian' },
      { icon: 'logos:jira', title: 'Jira' },
      { icon: 'logos:microsoft-windows', title: 'Windows' },
      { icon: 'logos:linux-tux', title: 'Linux' },
      { icon: 'logos:apple', title: 'MacOS' },
    ]}
  />

  <Features
    highlight="about"
    title="What I bring to the table"
    subtitle="Sure, I can work with x or y. But how do I do things?"
    items={[
      [
        {
          title: 'Code as a Hobby',
          description: "I love to program software. It's an escape for me, so I don't mind doing it in my free time.",
          icon: 'tabler:coffee',
        },
        {
          title: 'Accessibility',
          description:
            'Writing code that is accessible is important to me. I try to make sure that my code is readable by everyone.',
          icon: 'tabler:accessible',
        },
        {
          title: 'Best Practices',
          description:
            'I stay very recent with technology, and I try to use the best practices for the language I am using.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description: 'I enjoy ratcheting performance to the max. Lighthouse scores are a great way to measure this.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Reusable Components',
          description:
            'I love to build tools and components that streamline processes. Line deletions are my favorite metric.',
          icon: 'tabler:components',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'The forefront of technology has no reserve for the stubborn. I am always open to new ideas and contributions.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="work"
    highlight="My Contributions"
    title="Open Source Maintainer"
    items={[
      {
        title: 'TGUI Conversions',
        description:
          'Converted hundreds of dated user inputs into modern, sleek alternatives. Built in modern TypeScript and InfernoJS.',
      },
      {
        title: 'Issue Triage',
        description:
          "Tracked down bugs in the UI and fixed issues. When I couldn't fix it alone, I provided detailed feedback and reproducible steps for other contributors.",
      },
      {
        title: 'Code Reviews',
        description:
          'Helped review and merge pull requests from other contributors. Reviewed code for best practices and readability.',
      },
    ]}
    image={{
      src: '/tgstation.jpg',
      alt: 'TG Station',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">TG Station</h3>
      Pixelated roleplaying game set on a paranoia-laden, nonsensical space station. The spiritual predecessor, and perhaps
      direct influence, to Among Us. I maintain the UI for this game, which is written in InfernoJS, a React-like framework.
    </Fragment>
  </Content>

  <Content
    isReversed
    image={{
      src: '/pareto-ui.png',
      alt: 'Pareto Cyber',
    }}
    items={[
      {
        title: 'Frontend: TypeScript React',
        description:
          'I help build interfaces in React at the discretion of stakeholders. Implementing modern architecture and tools, I brought the application up 30 points in Lighthouse scores.',
      },
      {
        title: 'Backend: Go',
        description:
          "I help build backend services in Go. I've built a few services from the ground up, and I've helped maintain existing services. I also restructured the codebase to be more maintainable.",
      },
      {
        title: 'Infrastructure: AWS',
        description:
          'I help maintain infrastructure of the application. I am working to improve the CI/CD pipeline and reduce costs by removing unused resources.',
      },
    ]}
    title="Full Stack Engineer"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pareto Cyber</h3>
      A managed security services provider. On a small dev team, I work on a variety of projects within the company that
      composes their web application. I work on the frontend, backend, and infrastructure.
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get resume',
      href: '/jeremiah_snow_resume.pdf',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">In case you missed it</Fragment>

    <Fragment slot="subtitle">Happy to have you here. Let's work together some time.</Fragment>
  </CallToAction>
</Layout>
