---
import { Icon } from "astro-icon";

const NAME2ICON = {
  linkedin: "fa-brands:linkedin",
  word: "fa-solid:file-word",
  pdf: "fa-solid:file-pdf",
  github: "fa-brands:github",
} as const;

type Props = {
  download?: boolean;
  icon: keyof typeof NAME2ICON;
  title: string;
  to: string;
};

const { download, icon, title, to } = Astro.props as Props;
---

<a
  class="text-semibold flex rounded-xl border-2 border-indigo-900 bg-indigo-800 p-2 text-white hover:border-indigo-800 hover:bg-indigo-700"
  download={download && to.slice(1)}
  href={to}
  rel="noopener noreferrer"
  target="_blank"
>
  <div class="flex flex-1 justify-center space-x-4 md:mx-8 md:space-x-6">
    <Icon class="w-4 md:w-5" name={NAME2ICON[icon]} />
    <div class="text-md md:text-xl">{title}</div>
  </div>
</a>
