---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="mt-32 mr-24 -skew-x-9.1 skew-y-9.1 space-y-0">
  <div class="mb-2">
    <h1
      class="text-center font-copperplate text-4xl font-semibold text-gray-800"
    >
      {title}
    </h1>
    <h2
      class="text-center font-copperplate text-xl font-semibold text-gray-800"
    >
      SOFTWARE ENGINEER
    </h2>

    <hr class="border-gray-800" />
  </div>

  <div class="space-y-2">
    <slot />
  </div>
</div>
