---
export interface Props {
  name: string;
  title: string;
}

const { name, title } = Astro.props;
---

<div
  class="space-y-0 rounded-sm border-b-2 bg-closeup-card bg-contain bg-center px-24 py-8 md:mt-32 md:mr-24 md:w-auto md:-skew-x-9.1 md:skew-y-9.1 md:border-0 md:bg-none"
>
  <div class="mb-2 mt-8">
    <h1
      class="text-center font-copperplate text-xl font-semibold text-gray-900 md:text-4xl"
    >
      {name}
    </h1>
    <h2
      class="hidden text-center font-copperplate text-sm font-bold text-gray-900 md:flex md:text-2xl"
    >
      {title}
    </h2>

    <hr class="hidden border-gray-800 md:flex" />
  </div>

  <div class="space-y-2">
    <slot />
  </div>
</div>
