---
import { Button } from "@/components/ui/button";
import { clsx } from "clsx";

type Props = {
  href: string;
} & Partial<{
  className: string;
  newWindow: true;
}>;

const { className, href, newWindow } = Astro.props;
---

<a
  href={href}
  target={newWindow ? "_blank" : "_self"}
  rel="noopener noreferrer"
>
  <Button
    className={clsx(
      "w-36 bg-blue-500 dark:bg-neutral-700 text-white dark:text-gray-200 hover:bg-blue-600 dark:hover:bg-neutral-600",
      className,
    )}
    variant="secondary"><slot /></Button
  >
</a>
