---
import { Picture } from '@astrojs/image/components';
---

<div class="flex">
  <Picture
    alt="Panda Logo"
    src={import('~/assets/images/logo-small.png')}
    width={35}
    height={35}
    widths={[400, 768]}
    sizes="(max-width: 768px) 100vw, 432px"
    aspectRatio="500:500"
  /><span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    Jeremiah Snow</span
  >
</div>
