<a
  target="_blank"
  rel="noopener"
  class="inline-block"
  title="Join the crew"
  href="https://github.com/tgstation/tgstation"
  ><img
    src="https://img.shields.io/github/stars/tgstation/tgstation.svg?style=social&label=Stars&maxAge=86400"
    alt="Follow @TG Station"
    width="84"
    height="20"
  />
</a>
