@use "sass:color";

$background: #0d1117;
$gold: #ffbd69;

.activity {
  background-color: lighten($background, 5%);
  border: thin solid gray;
  border-radius: 15px;
  margin: 1rem;
  max-width: 75%;
  padding: 1rem;
  width: 40rem;
}

.activity-text {
  color: $gold;
  font-size: medium;
  margin-bottom: 0.5rem;
  text-align: left;
}
