.app {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.app-profile {
  margin: 1rem;
  max-height: 11rem;
  max-width: 11rem;
}
