<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Jeremiah Snow's Portfolio" />
    <title>Portfolio - jlsnow301</title>
  </head>
  <body
    class="flex h-screen w-screen flex-col items-center justify-center bg-black bg-jeremiahs-card"
  >
    <slot />
  </body>
</html>
