<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Jeremiah Snow's Portfolio" />
    <title>Portfolio - jlsnow301</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Balthazar&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex h-screen w-screen flex-col items-center justify-center bg-black bg-jeremiahs-card bg-cover bg-center bg-no-repeat"
  >
    <slot />
  </body>
</html>
