---
import "@/styles/globals.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<script is:inline>
  function getThemePreference() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  }
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Software developer portfolio featuring full-stack projects in React, Node.js, and more. View my work samples, technical skills, and professional background"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content="jlsnow301 Portfolio" />
    <meta
      property="og:description"
      content="Portfolio showcasing my full-stack development projects, technical skills, and professional experience. I'm a software developer with a wide range of contributions in open source projects, including web, mobile and game development."
    />
    <meta
      property="og:image"
      content="https://jlsnow301.github.io/preview.webp"
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:url" content="https://jlsnow301.github.io" />

    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="800" />

    <title>{title}</title>
  </head>
  <body
    class="dark:bg-neutral-900 bg-gray-100 text-neutral-50 transition-colors"
  >
    <slot />
  </body>
</html>
